<div class="navbar navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">MovieSheep</a>
    <ul class="nav navbar-nav">
      <li class="active"><a href="UserHome">Home</a></li>
    </ul>
  </div>
</div>

<div class="container">
<ul class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span>&nbsp;<a href="UserHome">Home</a></li>
        <li> <span class="glyphicon glyphicon-user"></span>&nbsp;Manage User</li>
</ul>
<div class="row">
<div class="col-md-3">
     <div class="list-group">
         <a class="list-group-item" href="ViewMyAccount">My Account</a>
         <a class="list-group-item" href="EditMyAccount">Edit Account</a>
         <a class="list-group-item" href="ViewMyBookingHistory">Booking History</a>
         <a class="list-group-item" href="BookATicket">Book a ticket</a>
         <a class="list-group-item" href="CancelATicket">Cancel a ticket</a>
				 <a class="list-group-item" href="ChangePassword">Change Password</a>
				 <a class="list-group-item" href="Logout">Logout</a>
     </div>
</div>
<div class="container">
<div class="col-md-9">
    <p style="float:left">Welcome&nbsp;<b style="color:#009900"><p style="color:#009900;font-weight:bold;" id="txtUserName"></p> </b></p>

</div>
</div>
  </div>
</div>